<form #addForm="ngForm" (ngSubmit)="update(addForm)" novalidate>
  <div class="panel panel-default content" [@routerTransition]>
    <div class="panel-heading panel-heading-height-auto">
      <i class="fa fa-file"></i>&nbsp;
      <label>Modifier un type de plat</label>
    </div>
    <div class="panel-body modal-item-content">
      <div class="row form-group">
        <label class="label-form col-lg-4 text-right">Nom : </label>
        <input type="text" class="form-control col-lg-7" required name="nom"
         [(ngModel)]="typeplat.nom" #nom="ngModel">
      </div>
    </div>
    <div class="panel-footer text-right">
      <button class="btn btn-success">{{ 'valider' | translate }}</button>&nbsp;
      <button class="btn btn-danger" (click)="activeModal.close('Close click')">{{ 'Quitter' | translate }}</button>
    </div>
  </div>
</form>