small>a{
    text-decoration: none;
    color:white;
}
small>a:hover{
    color: orange;
}
.logo{
    float: left;
    margin: 10px;
}
.help{
    float: right;
    margin: 10px;
}
.help:hover,.logo:hover{
    color: orange;
    cursor: pointer;
}