<div class="content panel panel-default" [@routerTransition]>
<app-table-header [dataTableResult]="dataTableResult"></app-table-header>
  <div class="row">
    <div class="col-lg-12 table-responsive">
      <table #dataTable class="table table-hover compact" width="100%">
        <thead>
          <tr>
            <th class="th-sm detail">REFERENCE
            </th>
            <th class="th-sm">VILLE
            </th>
            <th class="th-sm">CLIENT
            </th>
            <th class="th-sm">AIDE MENAGERE
            </th>
            <th>DUREE</th>
            <th>ABONNEE</th>
            <th></th>
            <th>NOTE</th>
          </tr>
        </thead>
        <tbody>

        </tbody>
      </table>
    </div>
  </div>
</div>